.single .post-thumbnail+.entry-content ul,
.single .post-thumbnail+.entry-content ol,
.single .summary.entry-summary ul,
.single .summary.entry-summary ol {
    display: grid;
    align-items: start;
    align-content: start;
}

.single .post-thumbnail+.entry-content ul li>*:last-child,
.single .post-thumbnail+.entry-content ol li>*:last-child,
.single .summary.entry-summary ul li>*:last-child,
.single .summary.entry-summary ol li>*:last-child,
.single article .entry-content ul li>*:last-child,
.single .summary.entry-summary ul li>*:last-child,
.single .post-thumbnail+.entry-content ul li:last-child,
.single .post-thumbnail+.entry-content ol li:last-child,
.single .summary.entry-summary ul li:last-child,
.single .summary.entry-summary ol li:last-child,
.single article .entry-content ul li:last-child,
.single .summary.entry-summary ul li:last-child {
    margin-bottom: 0;
}

.single .post-thumbnail+.entry-content ol,
.single .summary.entry-summary ol {
    padding-top: .5rem;
    padding-left: 28px !important;
}

.single .summary.entry-summary ul {
    margin: 0 0 18px 0;
    padding-left: 22px;
    padding-top: .5rem;
    list-style: none;
    line-height: 1.3;
}

.single .summary.entry-summary ul li {
    padding-left: 10px;
    color: #363636;
    margin-bottom: .7rem;
}

.single article .entry-content ul li,
.single .summary.entry-summary ul li {
    display: inline-flex;
    align-items: start;
}

.single article .entry-content ul li::before,
.single .summary.entry-summary ul li::before {
    position: relative;
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #363636;
    margin-right: 9px;
    vertical-align: middle;
    margin-left: -14px;
    flex-shrink: 0;
    top: 6px;
}

.page-description ul li::before,
.term-description ul li::before,
.woocommerce-Tabs-panel--description ul li::before,
.woocommerce-product-details__short-description ul li::before,
:not(.woocommerce-checkout.woocommerce-page) .entry ul li::before {
    margin-top: 0;
    flex-shrink: 0;
}

.page-description ol,
.term-description ol,
.woocommerce-Tabs-panel--description ol,
.woocommerce-product-details__short-description ol,
:not(.woocommerce-checkout.woocommerce-page) .entry ol {
    padding-left: 22px;
}


.woocommerce ul.products li.product span.onsale {
    position: absolute;
    min-width: 90px;
}

a.disabled-link,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button.disabled-link {
    background-color: #cbe8eb;
    color: #14848e;
    border: 1px solid #cbe8eb;
    opacity: 1;
    pointer-events: none;
    cursor: not-allowed;
}

#zbs-nav-tabs li::before,
.zbs-portal-nav li::before,
ul.products li.product::before {
    display: none !important;
}

.page-description ul li::before,
.term-description ul li::before,
.woocommerce-Tabs-panel--description ul li::before,
.woocommerce-product-details__short-description ul li::before,
:not(.woocommerce-checkout.woocommerce-page) .entry ul li::before {
    position: relative;
}

.site-header .wrap-form.form-visible {
    display: block;
}

.ysm-search-widget .search-submit::before {
    display: none !important;
}

/*.ysm-search-widget button[type="reset"],
.header button[type="reset"].search-reset {
    display: none !important;
}

.site-header .search-form .search-field {
    padding-left: 20px;
}

.site-header .ysm-search-widget label {
    transform: translateY(-100%);
    left: 12px;
}

.smart-search-popup {
    min-width: 100%;
}

.site-header .wrap-form.form-visible .search-form {
    margin-left: 0;*/

.site-header .search-form .search-field {
    padding-left: 26px;
}

.site-header .wrap-form.desktop .search-form .search-field {
    padding-right: 40px;
}

.site-header .desktop .ysm-search-widget label {
    position: relative;
    top: -100%;
}

.ysm-search-widget label {
    margin-bottom: 0;
}

.site-header .desktop .ysm-search-widget .search-reset {
    right: .5rem;
}

.site-header .wrap-form.form-visible .search-form {
    margin-left: 0;
}

.woocommerce-address-fields #billing_myfield12_field>label {
    display: none;
}

.woocommerce ul.products li.product .img_wrap img {
    padding: 1px;
}

.woocommerce.single-product .summary .price del {
    font-size: 18px;
}

.woocommerce ul.products li.product .price ins,
.woocommerce.single-product .summary .price ins .woocommerce-Price-amount {
    color: #ff0000;
}

.error404 .entry-content .site-search-toggle,
.search-no-results .entry-content .site-search-toggle {
    margin: 8px;
    position: absolute;
}

.error404 .entry-content .site-search-toggle:before,
.search-no-results .entry-content .site-search-toggle:before {
    content: "";
    display: inline-block;
    background: url(../img/sprite.png) no-repeat -34px -66px;
    width: 21px;
    height: 21px;
}

.error404 .entry-content input[type="search"],
.search-no-results .entry-content input[type="search"] {
    padding-left: 40px;
}

.woocommerce-account .mailpoet_paragraph:nth-of-type(4) {
    display: block !important;
}

.socials {
    display: flex;
    align-items: center;
}

.socials__telegram-image {
    height: 22px;
    width: 22px;
    fill: #fff;
    background: #289ed8;
    border-radius: 50%;
}

.socials__yandex_zen-image {
    height: 22px;
    width: 22px;
}

.socials__ok-image {
    width: 22px;
    height: 22px;
    fill: #ffab49;
}

.socials__vk-image {
    width: 22px;
    height: 22px;
}

.brands .brands-list a.c_change img {
    max-height: 80px;
    width: auto;
}

.woocommerce-cart .cart-collaterals .cart_totals {
    clear: both;
}

.woocommerce .cart-collaterals .cross-sells,
.woocommerce-page .cart-collaterals .cross-sells {
    width: 100%;
}

.woocommerce .cart-collaterals .cross-sells ul.products,
.woocommerce-page .cart-collaterals .cross-sells ul.products {
    padding-left: 0;
}

.cross-sells .section-title {
    margin-right: 34px;
}

.woocommerce .cross-sells .products.owl-carousel {
    margin-top: 27px;
}

.cross-sells .owl-carousel .owl-nav {
    position: absolute;
    top: -48px;
    right: 0;
}

.woocommerce.single-product p.instock {
    position: relative;
    font-size: 16px !important;
    font-family: "Open Sans Condensed", sans-serif;
    color: #18c139;
    font-weight: 700;
    text-transform: uppercase;
}

.woocommerce.single-product p.out-of-stock {
    position: relative;
    font-size: 16px !important;
    font-family: "Open Sans Condensed", sans-serif;
    color: red;
    font-weight: 700;
    text-transform: uppercase;
}

.owl-carousel .owl-nav {
    display: flex;
    justify-content: space-between;
    padding: 0 1.5rem;
    position: absolute;
    top: 50%;
    width: 100%;
    left: 0;
    transform: translateY(-50%);
    z-index: 10;
}

.products .owl-carousel .owl-nav {
    padding: 0;
    top: -60px;
    left: auto;
    justify-content: flex-end;
    column-gap: 1rem;
    transform: translateY(0);
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
    width: 60px;
    height: 60px;
    margin: 0;
    border-radius: 0;
    background: hsla(0, 0%, 100%, .6);
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background-color: hsla(0, 0%, 100%, .6);
}

.owl-carousel .owl-nav button>span {
    font-size: 0;
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 40px;
    background-repeat: no-repeat;
}

.owl-carousel .owl-nav button.owl-prev>span,
.products .owl-nav button.owl-prev {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3C!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath d='M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z'/%3E%3C/svg%3E");
}

.owl-carousel .owl-nav button.owl-next>span,
.products .owl-nav button.owl-next {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3C!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath d='M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z'/%3E%3C/svg%3E");
}

.products .owl-nav button.owl-prev,
.products .owl-nav button.owl-next {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: 100% 50%;
}

@media (max-width: 767.98px) {
    .site-footer .socials a {
        margin-left: 25px;
    }
}

@media (max-width: 575.98px) {
    .woocommerce ul.product-cats {
        margin-left: 0;
        width: 100%;
    }

    .woocommerce ul.product-cats li.category {
        flex: 1 1 50%;
        max-width: 50%;
        min-width: 25ch;
    }

    .woocommerce.single-product .up-sells.products .owl-nav,
    .woocommerce.single-product .related.products .owl-nav {
        position: static;
        margin-top: .6rem;
        justify-content: center;
    }
}


/* Mobile-2024 */

.header-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 9px;
    column-gap: 30px;
}

.header-mobile .custom-logo-link {
    display: flex;
    flex: 0 0 auto;
}

.header-mobile .custom-logo-link,
.header-mobile .custom-logo {
    align-self: flex-start;
}

.header-mobile .phone--mobile {
    font-size: 19px;
    font-weight: 700;
    color: #252525;
    flex-shrink: 0;
}

.site-header.myfixed .header-mobile .phone--mobile .phone__txt,
.site-header.myfixed .header-mobile .custom-logo-link,
.site-header.myfixed .header-mobile .custom-logo {
    display: none;
}

.site-header.myfixed .header-mobile {
    display: flex;
    flex-wrap: nowrap;
    padding-top: 9px;
    padding-bottom: 9px;
}

.site-header.myfixed .searchMobile {
    order: -1;
}

.site-header.myfixed .phone--mobile {
    order: 3;
}

.site-header.myfixed .header-mobile .phone--mobile {
    display: inline-flex;
    width: 20px;
    height: 20px;
    background-image: url(../img/phone-icon.svg);
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: 20px;
}

.header-mobile .phone--mobile span {
    font-size: inherit;
}

.searchMobile {
    --heightInput: 32px;
    min-width: 220px;
    flex-grow: 1;
}

.searchMobile label {
    padding-right: 34px;
}

.searchMobile .search-form {
    position: relative;
    height: var(--heightInput);
    padding: 1px 0 1px 1px;
    background-color: #6cb2b8;
    background-clip: border-box;
    line-height: 1;
}

.searchMobile .search-form input.search-field {
    border: 0 !important;
    font-size: 16px;
    color: #9e9e9e;
    height: calc(var(--heightInput) - 2px);
    padding: 2px 34px 2px 5px;
    background: #fff;
    font-style: normal;
}

.searchMobile .search-form .search-submit {
    top: 0;
    right: 0;
    bottom: 0;
    width: 34px;
    background-color: transparent;
    background-image: url(../img/search-mobile.svg);
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    line-height: 1;
}

.ysm-search-widget .search-reset {
    display: none;
    position: absolute;
    width: 26px;
    height: 26px;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    border: 0;
    padding: 0;
    background-color: transparent;
    background-image: url(../img/close-reset.svg);
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    line-height: 1;
    appearance: none;
}

.footer_main .ysm-search-widget .search-form {
    background-color: #fff;
}

.searchMobile .smart-search-popup {
    top: var(--heightInput);
}

.auth-mobile {
    display: inline-flex;
}

.bottom_navbar {
    display: none !important;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10005 !important;
    overflow: hidden;
    background-color: #282929;
}

.bottom_navbar__menu-list {
    display: flex;
    list-style: none;
    line-height: 1;
    margin: 0;
    color: #fff;
    justify-content: space-evenly;
}

.bottom_navbar__menu-list>li {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bottom_navbar__button {
    border: 0;
    background-color: transparent;
    padding: 0;
}

.bottom_navbar__menu-list>li a,
.bottom_navbar__menu-list>li button {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    line-height: 1.21;
    text-align: center;
    text-decoration: none;
    row-gap: 8px;
    padding-block: 17px;
    padding-inline: 12px;
}

.bottom_navbar ul li.current_page_item>a,
.bottom_navbar ul li.current_page_parent>a,
.home .bottom_navbar__menu-item--icon-home>a,
.woocommerce-cart .bottom_navbar__menu-item--icon-minicart>a,
.menu-open .bottom_navbar__menu-item.mobile-menu-toggle>button,
.woocommerce-shop .bottom_navbar__menu-item--icon-catalog>a,
.fleet-wishlist .bottom_navbar__menu-item--icon-wishlist>a {
    color: #52bbc5;
}

.bottom_navbar__txt {
    font-size: 13px;
    font-weight: 400;
}

.bottom_navbar__link--minicart {
    position: relative;
}

.bottom_navbar__quantity {
    position: absolute;
    top: 10px;
    font-size: 11px;
    color: #000;
    width: 18px;
    left: calc(50% + 7px);
    line-height: 1;
    text-align: center;
    aspect-ratio: 1 / 1;
    background-color: #52bbc5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home ul.product-cats {
    list-style: none;
    margin: 35px 0 0 -11px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: calc(100% + 11px);
    padding: 0;
}

.home ul.product-cats li.category {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;
list-style-type: none;
border: 1px solid transparent;
padding: 11px 11px 25px 11px;
margin: 0 0 30px;
background: #fff;
-webkit-box-shadow: 2px 3px 7px 0 transparent;
box-shadow: 2px 3px 7px 0 transparent;
text-align: center;
}

.home ul.product-cats li.category:hover {
    border-color: #2eb3bf;
    -webkit-box-shadow: 2px 3px 7px 0 rgba(0, 0, 0, .35);
    box-shadow: 2px 3px 7px 0 rgba(0, 0, 0, .35);
    z-index: 1;
    position: relative;
}

.home ul.product-cats li.category .cat_img_wrap {
    height: 0;
    position: relative;
    padding-bottom: 100%;
    margin-bottom: 18px;
}

.home ul.product-cats li.category a {
    color: #252525;
}

.home ul.product-cats li.category a:hover {
    text-decoration: none;
  }

.home ul.product-cats li.category h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    margin-bottom: 0;
  }

@media only screen and (min-width: 769px) {
    .header-mobile {
        display: none !important;
    }

    .smart-search-popup {
        min-width: calc(100% - 14px);
    }
}

@media only screen and (max-width: 768px) {

    .header-mobile .custom-logo-link,
    .header-mobile .custom-logo {
        width: 86px;
        height: auto;
    }

    .site-header.myfixed .header-mobile .searchMobile {
        max-width: 588px;
        margin-right: 2px;
    }

    .site-footer .footer_bott {
        padding-block: 0;
    }

    .site-footer .footer_main {
        padding-bottom: 130px;
    }

    .bottom_navbar {
        display: block !important;
    }

    .site-branding,
    .site-header .wrap_right button.navbar-toggler[aria-expanded="false"],
    .site-header .wrap_right .block-links,
    .site-header .header-bott {
        display: none !important;
    }

    .site-header .wrap_right {
        row-gap: 0;
        min-height: 0;
        min-width: 100%;
    }
}

@media only screen and (max-width: 699px) {

    :not(.myfixed) .header-mobile {
        padding-left: 20px;
        padding-right: 20px;
        column-gap: 20px;
    }
}

@media only screen and (max-width: 600px) {
    :not(.myfixed) .header-mobile {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: auto auto;
        row-gap: 14px;
        padding-bottom: 11px;
    }

    .searchMobile {
        grid-row: 2;
        grid-column: 1 / -1;
        order: 4;
    }
}

@media only screen and (max-width: 576px) {
    .header-mobile {
        padding-inline: 20px;
        column-gap: 20px;
    }

    .site-header.myfixed .header-mobile {
        padding-inline: 17px;
    }

}

@media only screen and (max-width: 479px) {
    .header-mobile {
        column-gap: 10px;
    }

    .site-header.myfixed .header-mobile {
        padding-left: 10px;
        padding-right: 15px;
    }

    .header-mobile .custom-logo-link,
    .header-mobile .custom-logo {
        width: 66px;
        height: 54px;
    }

    .bottom_navbar__txt {
        font-size: 9px;
    }

    .bottom_navbar__menu-list>li a,
    .bottom_navbar__menu-list>li button {
        row-gap: 4px;
        padding-block: 10px;
    }

    .bottom_navbar__quantity {
        position: absolute;
        top: 6px;
        font-size: 11px;
        color: #000;
        width: 18px;
        left: calc(50% + 1px);
    }

    .site-footer .footer_main {
        padding-bottom: 85px;
    }
}

@media only screen and (max-width: 400px) {

    .bottom_navbar__menu-list {
        justify-content: space-between;
    }
}

@media only screen and (max-width: 340px) {

    .site-header.myfixed .header-mobile {
        column-gap: 0;
        justify-content: space-between;
    }

    .site-header.myfixed .header-mobile .searchMobile {
        max-width: 220px;
        margin-right: auto;
    }

    .site-header.myfixed .header-mobile .phone--mobile {
        margin-left: 15px;
    }
}

/*SLIDER MAIN*/
.slider_primary__image--desktop,
.slider_primary__image--tablet {
    display: none !important;
}

#slider_primary a.slider-item {
    display: block;
    width: 100%;
}

#slider_primary {
    padding: 0;
    background-color: #f5f8fa;
}

#slider_primary a.slider-item:hover {
    text-decoration: none;
}

#slider_primary .owl-dots {
    position: absolute;
    display: flex;
    flex: 0 0 auto;
    transform: translateX(50%);
    right: 50%;
    bottom: 12px;
}

#slider_primary .owl-dots .owl-dot {
    zoom: 1;
    display: inline-block;
}

#slider_primary .owl-dots .owl-dot span {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background: rgba(255, 255, 255, .35);
    margin: 9px;
    -webkit-transition: opacity .2s ease;
    transition: opacity .2s ease;
}

#slider_primary .owl-dots .owl-dot.active span,
#slider_primary .owl-dots .owl-dot:hover span {
    background: #fff;
}

@media (min-width: 576px) {
    .slider_primary__image--mobile {
        display: none !important;
    }

    .slider_primary__image--tablet {
        display: block !important;
    }

}

@media (min-width: 1200px) {
    .slider_primary__image--desktop {
        display: block !important;
    }

    .slider_primary__image--tablet {
        display: none !important;
    }

}

@media (max-width: 767px) {

    #slider_primary.owl-carousel .owl-nav button.owl-next,
    #slider_primary.owl-carousel .owl-nav button.owl-prev {
        width: 30px;
        height: 30px;
    }

    #slider_primary.owl-carousel .owl-nav button>span {
        width: 15px;
        height: 20px;
    }

    #slider_primary.owl-carousel .owl-nav {
        padding-inline: 30px;
    }

}

@media (max-width: 991px) {
    #slider_primary .owl-dots {
        position: static;
        transform: translateX(0);
        justify-content: center;
        padding-block: 8px;
    }

    #slider_primary.owl-carousel .owl-nav {
        margin-top: -22px;
        /* height dots under slides */
    }

    #slider_primary .owl-dots .owl-dot.active span,
    #slider_primary .owl-dots .owl-dot:hover span {
        background: #16838d;
    }

    #slider_primary .owl-dots .owl-dot span {
        background: #6cb2b8;
    }

}

@media (max-width: 699px) {
    #slider_primary.owl-carousel .owl-nav {
        padding-inline: 20px;
    }
}

/* end of SLIDER MAIN */


.select2-container--default .select2-selection--single .select2-selection__rendered {
    padding-block: 0;
}

/* NEW STYLES FOR Navigation*/

.woocommerce nav.woocommerce-pagination {
    display: block;
    text-align: right;
    line-height: 1;
    margin-top: 6px;
}

.woocommerce nav.woocommerce-pagination ul {
    border: none;
}

.woocommerce nav.woocommerce-pagination ul li {
    float: none;
    border-right: 0;
}

.wp-pagenavi a.nextpostslink::before,
.wp-pagenavi a.previouspostslink::before {
    background-image: none !important;
    width: 0 !important;
    height: 0 !important;
}

.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span,
.woocommerce .wp-pagenavi a,
.woocommerce .wp-pagenavi span {
    display: inline-block;
    color: #252525;
    height: 30px;
    line-height: 28px;
    font-size: 13px;
    text-align: center;
    padding: 0 .2em;
    min-width: 30px;
    margin: 0 6px 0 0;
    background: #fff;
    border: 1px solid #ecedee;
    vertical-align: top;
}

.woocommerce .wp-pagenavi *:last-child {
    margin-right: 0;
}

.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce .wp-pagenavi a:hover,
.woocommerce .wp-pagenavi a:focus {
    background: #14848e;
    color: #fff;
    border-color: #14848e;
    text-decoration: none;
}

.woocommerce nav.woocommerce-pagination ul li span.current {
    font-weight: bold;
    border-color: #000;
    background: #fff;
    color: #252525;
}

.woocommerce nav.woocommerce-pagination ul a.next.page-numbers:hover,
.woocommerce nav.woocommerce-pagination ul a.prev.page-numbers:hover,
.woocommerce nav.woocommerce-pagination ul a.next.page-numbers:focus,
.woocommerce nav.woocommerce-pagination ul a.prev.page-numbers:focus,
.woocommerce .wp-pagenavi a.nextpostslink:hover,
.woocommerce .wp-pagenavi a.nextpostslink:focus,
.woocommerce .wp-pagenavi a.previouspostslink:hover,
.woocommerce .wp-pagenavi a.previouspostslink:focus {
    background-color: #fff;
    border-color: #252525;
    color: #252525;
}

.wpcbm-badges[class*="left"] .wpcbm-badge,
.wpcbm-badges-single_before_title .wpcbm-badge {
    margin-right: 10px;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 18px;
    font-weight: 700;
    padding: 0px 10px;
    min-width: 100px;
    box-shadow: none !important;
}

.wpcbm-badges {
    justify-content: left;
}

.wpcbm-badges-top-left {
    top: 0;
    left: 0;
}

.wpcbm-badge-inner {
    text-align: center;
}

.woocommerce .wrap_badge {
    right: 0;
    left: auto;
}

.prdctfltr-widget .prdctfltr_wc .prdctfltr_buttons.fixed {
    display: inline;
    top: 393px;
    position: fixed;
    left: 28%;
    white-space: nowrap;
    padding: 16px !important;
    background-color: #fff;
    border-radius: none;
    flex-direction: column;
    filter: drop-shadow(0 2px 8px rgba(0, 0, 0, .25));
    box-shadow: none;
    z-index: 2147483647;
    height: auto;
    width: 152px
}

.prdctfltr-widget .prdctfltr_wc .prdctfltr_buttons.fixed .prdctfltr_woocommerce_filter_submit {
    background-color: #14848e;
    color: #f5f8fa;
}

.prdctfltr-widget .prdctfltr_wc .prdctfltr_buttons.fixed .prdctfltr_woocommerce_filter_submit:before {
    background-position: -38px -226px;
}

.prdctfltr-widget .prdctfltr_wc .prdctfltr_buttons.fixed .prdctfltr_woocommerce_filter_submit:hover {
    background-color: #2eb3bf;
    border-color: #2eb3bf;
}

.prdctfltr-widget .prdctfltr_wc .prdctfltr_buttons.fixed:after {
    content: "";
    position: absolute;
    left: -.625rem;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    width: 1.5rem;
    height: 1.5rem;
    background-color: #fff;
    z-index: -1;
}

.prdctfltr_wc.prdctfltr_wc_widget .prdctfltr_buttons.fixed .prdctfltr_woocommerce_filter_submit {
    padding: 16px;
    margin-bottom: 0 !important;
}


@media (max-width: 767px) {
    .prdctfltr-widget .prdctfltr_wc .prdctfltr_buttons.fixed {
        left: auto;
        right: 15px;
    }
}