@import "vars";


/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {
	
}

// ≥992px
@include media-breakpoint-down(md) {

}

// ≥768px
@include media-breakpoint-down(sm) {

}

// ≥576px
@include media-breakpoint-down(xs) {

}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {
	#slider_main .slider-item-descr {
		font-size: 40px;
		line-height: 40px;
	}
	
	.columns-5 ul.products {
		display: grid;
		grid-gap: 30px;
		grid-template-columns: repeat( 2, 1fr);
	}

}

// ≤768px
@include media-breakpoint-up(md) {
	#slider_main .slider-item-descr {
		font-size: 60px;
		line-height: 60px;
	}
	.columns-5 ul.products {
		grid-template-columns: repeat( 3, 1fr);
	}

}

// ≤992px
@include media-breakpoint-up(lg) {
	.columns-5 ul.products {
		grid-template-columns: repeat( 4, 1fr);
	}
}

// ≤1200px
@include media-breakpoint-up(xl) {
	.columns-5 ul.products {
		grid-template-columns: repeat( 5, 1fr);
	}
}
