@import "vars";


/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {
	
}

// ≥992px
@include media-breakpoint-down(md) {
	.row_h {
		align-items: flex-start;
	}
	
	.wrap_right {
		display: grid;
		grid-template-columns: 60px 1fr;
		grid-gap: 10px;
		grid-template-areas:
			"button block-links"
			"header-bott header-bott"
			"nav-main nav-main";

		button.navbar-toggler {
			grid-area: button;
			border-top: 0;
		}

		.block-links {
			grid-area: block-links;
		}

		.nav-main {
			grid-area: nav-main;
		}

		.header-bott {
			grid-area: header-bott;

			.row {
				flex-wrap: nowrap;
			}
		}
	}

}

// ≥768px
@include media-breakpoint-down(sm) {

	.site-branding {
		padding-right: 0;
	}

	.wrap_right {
		.wrap-form {
			display: none !important;
		}

		.hours {
			text-align: right;
		}
	}

	.woocommerce #content div.product div.images,
	.woocommerce div.product div.images,
	.woocommerce-page #content div.product div.images,
	.woocommerce-page div.product div.images,
	.woocommerce ul.products.owl-carousel li.product {
		width: 100%;
	}

	.woocommerce table.shop_table_responsive tr:nth-child(2n) td,
	.woocommerce-page table.shop_table_responsive tr:nth-child(2n) td {
		background-color: $pale-grey;
	}

	.woocommerce-cart #content table.shop_table.cart td.actions .coupon {
		padding-left: 15px;
		padding-right: 15px;
		
		input#coupon_code.input-text {
			width: 50%;
		}

		button.button {
			width: 49%;
		}
	}

	.woocommerce table.shop_table_responsive tr td::before, .woocommerce-page table.shop_table_responsive tr td::before {
		content: attr(data-title) ": ";
		font-size: 16px;
		font-weight: 400;
		padding-right: 15px;
		text-transform: uppercase;
	}

	.woocommerce.single-product .product_title {
		font-size: 19px;
		line-height: 23px;
	}

}

// ≥576px
@include media-breakpoint-down(xs) {
	
	.woocommerce-cart #content table.shop_table.cart td.actions .coupon {
		input#coupon_code.input-text {
			width: 100%;
		}
		button.button {
			margin: 10px 0 0 0;
			width: 100%;
		}
	}
}

// ≥420px
@media (max-width: 420px) {
	.wrap_right {
		display: block;
		.block-links {
			border-top: 1px solid $grey;
		}
		.block-links {
			margin-top: 0.5rem;
		}
		.header-bott {
			padding: 0.3rem 0;
		}
	}
}
/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {
	#slider_main .slider-item-descr {
		font-size: 40px;
		line-height: 40px;
	}	
	
	.woocommerce {
		ul.products.grid[class*=columns-] {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	.modal-dialog {
		max-width: 90%;
	}

}

// ≤768px
@include media-breakpoint-up(md) {
	.grid-md-2 {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: $grid-gutter-width;
		grid-row-gap: $grid-gutter-width;

		.news & {
			grid-template-rows: 1fr 1fr 1fr;
		}

		> .img-fluid {
			grid-row: 1/3;
			height: 100%;
			object-fit: cover;
		}
	}

	#slider_main .slider-item-descr {
		font-size: 60px;
		line-height: 60px;
	}

	.woocommerce table.shop_table.cart tbody td {
		padding-top: 30px;
		padding-bottom: 30px;
	}


}

// ≤992px
@include media-breakpoint-up(lg) {
	.h_right {
		display: grid;
		grid-template-rows: 2;
		grid-template-areas: 
			"header header header header header"
			"footer footer footer footer";
	}

	.navbar-expand-lg .navbar-nav {
		flex-direction: row;
		width: 100%;
		justify-content: space-between;
	}

	.navbar-expand-lg .navbar-nav>li>a {
		padding-right: 14px;
		padding-left: 14px;
	}

	.navbar-expand-lg .navbar-nav .sub-menu {
		/*display: none;
		list-style: none;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		white-space: nowrap;
		background: $accent;
		width: 100%;
		border-top: 1px solid $white;
		z-index: 99;*/
	}
	
	ul.product-cats {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}
	
	.woocommerce {
		ul.products.grid[class*=columns-] {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	.woocommerce .row .cart-collaterals .cart_totals .wrap_table {		
		padding-top: 55px;
		padding-bottom: 50px;
	}
	
	.woocommerce-cart .wc-proceed-to-checkout {
		padding-top: 36px;
	}

}

// ≤1200px
@include media-breakpoint-up(xl) {
	.nav-main {
		width: 100vw;
	}

	.woocommerce {
		ul.products.grid[class*=columns-] {
			grid-template-columns: repeat(4, minmax(0%, 1fr));
		}
	}
	.woocommerce-product-attributes.shop_attributes {
		max-width: 655px;

		th.woocommerce-product-attributes-item__label{
			width: 42.5%;
		}
	}		
	
	.woocommerce-cart table.shop_table.cart td.actions {
		padding-top: 130px;

		.coupon {
			max-width: 91.66667%;
		}
	}

}
